<h3 style="text-align: center">จัดการข้อมูลประเภทวิทยาลัย</h3>
<form class="form-horizontal" name="form" ng-submit="form.$valid && save()" novalidate style="margin-top: 5px;">
	<input type="hidden" ng-model="id">
	<div class="form-group" ng-class="{ 'has-error' : form.$submitted && form.collegeTypeName.$invalid }">
		<label class="col-md-3 control-label">ประเภทวิทยาลัย <span class="star-red">*</span></label>
		<div class="col-md-6">
			<input type="text" name="collegeTypeName" ng-model="collegeTypeName" class="form-control" required>
			<p ng-show="form.$submitted && form.collegeTypeName.$invalid" class="help-block">กรุณาป้อนประเภทวิทยาลัย</p>
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary">บันทึก</button>
		</div>
	</div>

</form>

<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width: 50px;">#</th>
			<th>ชื่อประเภทวิทยาลัย</th>
			<th style="width: 150px;"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in provinces">
			<td style="text-align: center;">{{ $index + 1 }}</td>
			<td>{{ row.province_name }}</td>
			<td style="text-align: center;">
				<button type="button" class="btn btn-success" ng-click="edit(row)">แก้ไข</button>
				<button type="button" class="btn btn-danger" ng-click="delete(row._id)">ลบ</button>
			</td>
		</tr>
	</tbody>
</table>