<div class="row">
	<div class="col-md-3">
		<a ui-sref="region" class="btn btn-info">ข้อมูลภูมิภาค</a>
	</div>
	<div class="col-md-3">
		<a ui-sref="province" class="btn btn-info">ข้อมูลจังหวัด</a>
	</div>
	<div class="col-md-3">
		<a ui-sref="collegeType" class="btn btn-info">ข้อมูลประเภทวิทยาลัย</a>
	</div>
	<div class="col-md-3">
		<a ui-sref="major" class="btn btn-info">ข้อมูลสาขาวิชา</a>
	</div>
</div>
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<a ui-sref="educationDegree" class="btn btn-info">ข้อมูลวุฒิการศึกษา</a>
	</div>
	<div class="col-md-3">
		<a ui-sref="expertise" class="btn btn-info">ข้อมูลความเชี่ยวชาญ</a>
	</div>
	<div class="col-md-3">
		<a ui-sref="teacher" class="btn btn-info">รายงานบุคลากร</a>
	</div>
</div>