<div class="modal-header">
	<button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ข้อมูลบุคลากรครู</h4>
</div>
<div class="modal-body">
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">รหัสบัตรประชาชน : </label>
		<div class="col-md-4">
			<input type="text" ng-model="idCard" class="form-control" disabled>
		</div>
		<label class="col-md-2 control-label">ชื่อ-นามสกุล : </label>
		<div class="col-md-4">
			<input type="text" ng-model="name" class="form-control" disabled>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">วันเกิด : </label>
		<div class="col-md-4">
			<input type="text" ng-model="birthdate" class="form-control" disabled>
		</div>
		<label class="col-md-2 control-label">เบอร์โทร : </label>
		<div class="col-md-4">
			<input type="text" ng-model="tel" class="form-control" disabled>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">อีเมล์ : </label>
		<div class="col-md-4">
			<input type="text" ng-model="email" class="form-control" disabled>
		</div>
		<label class="col-md-2 control-label">ไอดีไลน์ : </label>
		<div class="col-md-4">
			<input type="text" ng-model="lineID" class="form-control" disabled>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">ที่อยู่ : </label>
		<div class="col-md-10">
			<input type="text" ng-model="address" class="form-control" disabled>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">ระดับการศึกษา : </label>
		<div class="col-md-4">
			<input type="text" ng-model="graduateDegree" class="form-control" disabled>
		</div>
		<label class="col-md-2 control-label">ความเชี่ยวชาญ : </label>
		<div class="col-md-4">
			<input type="text" ng-model="expertise" class="form-control" disabled>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">ประเภทวิทยาลัย : </label>
		<div class="col-md-4">
			<input type="text" ng-model="collegeType" class="form-control" disabled>
		</div>
		<label class="col-md-2 control-label">ชื่อวิทยาลัย : </label>
		<div class="col-md-4">
			<input type="text" ng-model="collegeName" class="form-control" disabled>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">สังกัดสาขา : </label>
		<div class="col-md-4">
			<input type="text" ng-model="major" class="form-control" disabled>
		</div>
		<label class="col-md-2 control-label">จังหวัด : </label>
		<div class="col-md-4">
			<input type="text" ng-model="province" class="form-control" disabled>
		</div>
	</div>

</form>
	
</div>