<h3 style="text-align: center">ค้นหาข้อมูลบุคลากร</h3>
<form class="form-horizontal" name="form" ng-submit="form.$valid && save()" novalidate style="margin-top: 5px;">
	<div class="form-group">
		<label class="col-md-2 control-label">ภูมิภาค</label>
		<div class="col-md-3">
			<select class="form-control" ng-model="region" ng-options="r._id as r.regionName for r in regions" ng-change="loadProvinceList()">
				<option value="">เลือกภูมิภาค</option>
			</select>
		</div>
		<label class="col-md-2 control-label">จังหวัด</label>
		<div class="col-md-3">
			<select class="form-control" ng-model="province" ng-options="p._id as p.province_name for p in provinces">
				<option value="">เลือกจังหวัด</option>
			</select>
		</div>
	</div>
	<div class="form-group">
	<label class="col-md-2 control-label">ประเภทวิทยาลัย</label>
		<div class="col-md-3">
			<select class="form-control" ng-model="collegeType" ng-options="c._id as c.collegeTypeName for c in collegeTypes">
				<option value="">เลือกประเภทวิทยาลัย</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2"></label>
		<div class="col-md-10">
			<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> ค้นหา</button>
		</div>
	</div>
</form>

<div>จำนวนข้อมูลที่ค้นพบ <strong>{{ displayCollection.length | currency: '' : 0 }}</strong> รายการ</div>
<table class="table table-bordered" st-safe-src="rowCollection" st-table="displayCollection">
	<thead>
		<tr>
			<th style="width: 140px;">รหัสบัตรประชาชน</th>
			<th style="width: 180px;">ชื่อ-นามสกุล</th>
			<th style="width: 100px;">วันเกิด</th>
			<th style="width: 114px;">เบอร์โทร</th>
			<th style="width: 210px;">อีเมล์</th>
			<th style="width: 80px;">ไอดีไลน์</th>
			<th>ชื่อสถาบันที่สังกัด</th>
			<th style="width: 128px;"></th>
		</tr>
		<tr>
			<td><input st-search="idCard" class="input-sm form-control" type="search"/></td>
			<td><input st-search="name" class="input-sm form-control" type="search"/></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><input st-search="collegeName" class="input-sm form-control" type="search"/></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in displayCollection">
			<td>{{ row.idCard }}</td>
			<td>{{ row.name }}</td>
			<td>{{ row.birthdate }}</td>
			<td>{{ row.tel }}</td>
			<td>{{ row.email }}</td>
			<td>{{ row.lineID }}</td>
			<td>{{ row.collegeName }}</td>
			<td>
				<button type="button" class="btn btn-success" ng-click="openDialogDetail(row)">
					<span class="glyphicon glyphicon-align-justify"></span> รายละเอียด
				</button>
			</td>
		</tr>
	</tbody>
</table>